<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@400;700&family=Sansita+Swashed:wght@300;400;500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;700&family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="icon" href="./assets/img/logo.png" type="image/icon type">
        <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Kelurahan Abeli | <%= title %> </title>
    </head>

        <body class="font-arima">
        <header>
        <nav class="fixed top-0 left-0 right-0 p-3 flex items-center justify-between transition duration-500 ease-in-out">
            <a href="#" class="flex items-center">
            <img src="./assets/img/logo.png" alt="logo" width="30" />
            <h2 class="font-sansita font-semibold text-lg ml-2">Kelurahan Abeli</h2>
            </a>

            <div class="flex items-center">
            <button id="hamburger" class="block absolute right-4 lg:hidden">
                <span class="hamburger-line origin-top-left transition duration-300 ease-in-out"></span>
                <span class="hamburger-line transition duration-300 ease-in-out"></span>
                <span class="hamburger-line origin-bottom-left transition duration-300 ease-in-out"></span>
            </button>
            </div>

            <div id="nav-menu" class="nav-menu hidden absolute py-5 bg-white shadow-lg rounded-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:max-w-[75%] lg:shadow-none lg:rounded-none lg:py-0 lg:mr-7">
            <ul class="block lg:flex lg:justify-end">
                <li class="group">
                <a href="/" class="text-slate-800 py-2 mx-8 w-full flex group-hover:text-blue-500 lg:group-hover:text-white lg:rounded-lg lg:group-hover:bg-cyan-500 lg:group-hover:shadow-md lg:font-bold lg:flex lg:justify-center">Beranda</a>
                </li>
                <li class="group">
                <a href="#" class="text-slate-800 py-2 mx-8 w-full flex group-hover:text-blue-500 lg:group-hover:text-white lg:group-hover:bg-cyan-500 lg:px-5 lg:rounded-lg lg:font-bold lg:flex lg:justify-center">Profil</a>
                </li>
                <li class="group">
                <a href="#" class="text-slate-800 py-2 mx-8 w-full flex group-hover:text-blue-500 lg:group-hover:text-white lg:group-hover:bg-cyan-500 lg:px-5 lg:rounded-lg lg:font-bold lg:flex lg:justify-center">Layanan</a>
                </li>
                <li class="group">
                <a href="#" class="text-slate-800 py-2 mx-8 w-full flex group-hover:text-blue-500 lg:group-hover:text-white lg:group-hover:bg-cyan-500 lg:px-4 lg:rounded-lg lg:font-bold lg:flex lg:justify-center">Galeri</a>
                </li>

                <div class="flex justify-evenly mt-6 border border-b-0 pt-3 lg:border lg:border-none lg:mt-0 lg:pt-0 lg:flex lg:justify-center lg:ml-14">
                <li class="group inline-block">
                    <a href="#" class="text-slate-800 py-2 mx-8 flex items-center group-hover:text-blue-500 lg:group-hover:text-white lg:group-hover:bg-cyan-500 lg:px-4 lg:rounded-lg lg:font-bold lg:flex lg:justify-center lg:mx-0">
                    <i class="bx bx-log-in text-xl mr-2"></i>
                    <p>Masuk</p>
                    </a>
                </li>
                <li class="group inline-block">
                    <a href="#" class="text-slate-800 py-2 mx-8 flex items-center group-hover:text-blue-500 lg:group-hover:text-white lg:group-hover:bg-cyan-500 lg:px-4 lg:rounded-lg lg:font-bold lg:flex lg:justify-center lg:mx-0">
                    <i class="bx bx-log-in text-xl mr-2"></i>
                    <p>Daftar</p>
                    </a>
                </li>
                </div>
            </ul>
            </div>
        </nav>

        <div class="h-screen w-full bg-cover bg-gradient-to-b from-cyan-500 to-white"></div>
        </header>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <script src="js/script.js"></script>
    </body>
</html>
