<main class="max-w-screen-2xl flex items-center mx-auto">
    <div class="fixed top-0 bottom-0 left-0 right-0 flex">
        <img src="/assets/img/logo.png" alt="logo" width="300" class="m-auto" />
    </div>
    <div class="shadow-lg p-4 bg-slate-100/30 backdrop-blur-md w-full max-w-screen-lg rounded-md mx-auto md:w-4/5 md:my-6 lg:text-lg">
        <a href="/dashboard/dataProfile" class="flex hover:font-medium">
            <img src="/assets/img/logo.png" alt="logo" width="30" class="" />
            <h3 class="ml-3 font-sansita">Kelurahan Abeli</h3>
        </a>
        <div class="w-full">
            <h3 class="text-center font-semibold text-slate-600 mb-3 lg:text-2xl"><i class="bx bxs-user-plus lg:text-4xl"></i>Tambah Data</h3>
            <hr class="mb-3 mx-16 lg:mb-11" />
            <form action="/dashboard/add-data" method="post" class="mt-3">
                    <label for="laki">
                        <div class="text-slate-800 mb-2">Laki - laki</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Laki-laki"
                        name="laki_laki"
                        />
                    <label for="perempuan">
                        <div class="text-slate-800 mb-2 mt-2">Perempuan</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Perempuan"
                        name="Perempuan"
                        />
                        <label for="islam">
                        <div class="text-slate-800 mb-2">Islam</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Islam"
                        name="islam"
                        />
                    </label>
                    <label for="kristen">
                        <div class="text-slate-800 mb-2 mt-2">Kristen</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Kristen"
                        name="kristen"
                        />
                    <label for="katolik">
                        <div class="text-slate-800 mb-2 mt-2">Katolik</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Katolik"
                        name="katolik"
                        />
                    </label>
                    <label for="hindu">
                        <div class="text-slate-800 mb-2 mt-2">Hindu</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Hindu"
                        name="hindu"
                        />
                    </label>
                    <label for="budha">
                        <div class="text-slate-800 mb-2 mt-2">Budha</div>
                        <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Budha"
                        name="budha"
                        />
                    </label>
                    <label for="sunda">
                    <div class="text-slate-800 mb-2">Sunda</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="sunda"
                        name="sunda"
                        />
                    <label for="jawa">
                    <div class="text-slate-800 mb-2 mt-2">Jawa</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Jawa"
                        name="jawa"
                        />
                    <label for="bali">
                    <div class="text-slate-800 mb-2 mt-2">Bali</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Bali"
                        name="bali"
                    />
                    </label>
                    <label for="bugis">
                    <div class="text-slate-800 mb-2 mt-2">Bugis</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Bugis"
                        name="bugis"
                        />
                    </label>
                    <label for="makasar">
                    <div class="text-slate-800 mb-2 mt-2">Makasar</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Makasar"
                        name="makassar"
                        />
                    </label>

                    <label for="mandar">
                    <div class="text-slate-800 mb-2 mt-2">Mandar</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Mandar"
                        name="mandar"
                        />
                    </label>

                    <label for="tolaki">
                    <div class="text-slate-800 mb-2 mt-2">Tolaki</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Tolaki"
                        name="tolaki"
                        />
                    </label>
                    <label for="buton">
                    <div class="text-slate-800 mb-2 mt-2">Buton</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Buton"
                        name="buton"
                        />
                    </label>
                    <label for="muna">
                    <div class="text-slate-800 mb-2 mt-2">Muna</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Muna"
                        name="muna"
                        />
                    </label>
                    <label for="bajo">
                    <div class="text-slate-800 mb-2 mt-2">Bajo</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Bajo"
                        name="bajo"
                        />
                    </label>
                    <label for="mornene">
                    <div class="text-slate-800 mb-2 mt-2">Bungku / Mornene</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Bungku / Mornene"
                        name="mornene"
                        />
                    </label>
                    <label for="toraja">
                    <div class="text-slate-800 mb-2 mt-2">Toraja</div>
                    <input
                        type="number"
                        class="border border-black rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
                        placeholder="Toraja"
                        name="toraja"
                        />
                    </label>
                    <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700">Submit</button>
                </form>
        </div>
    </div>
</main>