<main class="container mx-auto bg-white mb-0 pt-3">
  <section class="text-center mb-9 mt-10 container mx-auto flex items-center justify-center">
    <span class="w-10 h-10 p-2 bg-cyan-500 dark:bg-slate-700 rounded-md mr-2 flex items-center justify-center font-black">
      <i id="search-box" class="bx bx-search-alt-2"></i>
    </span>
    <input
      type="text"
      name="search"
      id="search"
      onkeyup="processSearch()"
      placeholder="Cari ..."
      class="p-1 border-2 border-sky-300 w-9/12 shadow rounded focus:outline-none focus:ring-1 focus:ring-cyan-500 focus:border-cyan-500 dark:bg-slate-800 dark:border-slate-900 dark:focus:ring-cyan-400 dark:focus:border-cyan-400"
    />
  </section>

  <section class="mt-10 pb-10 container mx-auto">
    <div class="w-[90%] bg-white rounded-lg shadow-lg overflow-hidden border mx-auto">
      <img src="assets/img/example2.jpg" alt="example" class="w-full" />
      <div class="mt-5">
        <h1 class="text-4xl font-bold mx-3">Judul Berita Paling Populer</h1>
        <p class="text-[0.9em] mx-3"><i class="fa-solid fa-calendar pr-3"></i>12 Desember 1973</p>
        <p class="text-[0.9em] mx-3"><i class="fa-solid fa-user pr-3 mb-3"></i>Ferdi Idref</p>
        <p class="mt-5 mx-3 text-justify">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique enim accusamus distinctio quo nisi impedit iure pariatur debitis provident voluptate, excepturi vitae nostrum tempore sapiente suscipit! Quam, voluptate nisi,
          earum iusto, error voluptatibus deleniti molestias dignissimos ipsa aspernatur adipisci dolores consequuntur repudiandae soluta corporis magni. Similique optio expedita iste aperiam.
        </p>
        <div class="flex justify-center my-5">
          <a href="#" class="inline-block bg-yellow-500 rounded-lg shadow-lg p-2 hover:bg-yellow-600">Baca Selengkapnya</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container mx-auto bg-gradient-to-b from-white to-yellow-100 py-7">
    <h1 class="text-3xl text-center font-bold lg:text-4xl" data-aos="fade-right">Rekomendasi Berita</h1>
    <hr class="w-1/4 mb-5 mx-auto border-t-[3px] border-t-slate-700" />
    <div class="mx-3 mt-5">
      <h2 class="font-semibold text-xl mb-2 lg:text-3xl" data-aos="fade-right">Topik Populer</h2>
      <ol>
        <li><a href="#" class="text-blue-500 hover:text-blue-800 hover:underline active:font-bold" data-aos="zoom-out"># Topik 1</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-800 hover:underline active:font-bold" data-aos="zoom-out"># Topik 2</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-800 hover:underline active:font-bold" data-aos="zoom-out"># Topik 3</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-800 hover:underline active:font-bold" data-aos="zoom-out"># Topik 4</a></li>
        <li><a href="#" class="text-blue-500 hover:text-blue-800 hover:underline active:font-bold" data-aos="zoom-out"># Topik 5</a></li>
      </ol>
    </div>

    <h2 class="font-semibold text-xl mt-4 mx-3 lg:text-3xl" data-aos="fade-right">Untuk Anda</h2>
    <div class="w-full to-white">
      <div class="container w-full mx-auto md:flex md:justify-evenly md:flex-wrap">
        <div class="mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%]" data-aos="flip-right">
          <img src="assets/img/example3.jpg" alt="image" />
          <div class="my-3 px-3">
            <h2 class="text-2xl font-bold">Judul Berita</h2>
            <h4 class="text-[0.8em]">25 Desember 2022, ditulis oleh <span class="font-bold">Nama Penulis</span></h4>
            <p class="text-justify mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in quae voluptatem obcaecati alias sapiente nihil modi, dicta eius reiciendis?</p>
            <div class="flex justify-center">
              <a href="#" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md mt-5 mb-4 text-white font-semibold mx-auto">Baca Selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%]" data-aos="flip-right">
          <img src="assets/img/example3.jpg" alt="image" />
          <div class="my-3 px-3">
            <h2 class="text-2xl font-bold">Judul Berita</h2>
            <h4 class="text-[0.8em]">25 Desember 2022, ditulis oleh <span class="font-bold">Nama Penulis</span></h4>
            <p class="text-justify mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in quae voluptatem obcaecati alias sapiente nihil modi, dicta eius reiciendis?</p>
            <div class="flex justify-center">
              <a href="#" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md mt-5 mb-4 text-white font-semibold mx-auto">Baca Selengkapnya</a>
            </div>
          </div>
        </div>
        <div class="mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%]" data-aos="flip-right">
          <img src="assets/img/example3.jpg" alt="image" />
          <div class="my-3 px-3">
            <h2 class="text-2xl font-bold">Judul Berita</h2>
            <h4 class="text-[0.8em]">25 Desember 2022, ditulis oleh <span class="font-bold">Nama Penulis</span></h4>
            <p class="text-justify mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in quae voluptatem obcaecati alias sapiente nihil modi, dicta eius reiciendis?</p>
            <div class="flex justify-center">
              <a href="#" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md mt-5 mb-4 text-white font-semibold mx-auto">Baca Selengkapnya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mx-auto bg-[url(/assets/img/bg-sky.jpg)] bg-cover bg-fixed object-bottom py-7">
    <h1 class="text-3xl text-center font-bold lg:text-4xl" data-aos="fade-left">Berita Terbaru</h1>
    <hr class="w-1/4 mb-5 mx-auto border-t-[3px] border-t-slate-700" />
    <div class="md:flex md:justify-evenly md:flex-wrap lg:block">
      <div class="mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%] lg:w-[90%] lg:h-[195px] lg:flex" data-aos="flip-right">
        <img src="assets/img/example1.jpg" alt="image" class="object-cover object-center lg:h-full lg:sw-1/4" />
        <div class="my-3 ml-4 px-3">
          <h2 class="text-2xl font-bold">Judul Berita</h2>
          <p class="text-[0.9em]"><i class="fa-solid fa-calendar pr-3"></i>12 Desember 1973</p>
          <p class="text-[0.9em]"><i class="fa-solid fa-user pr-3 mb-3"></i>Ferdi Idref</p>
          <p class="text-justify mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in quae voluptatem obcaecati alias sapiente nihil modi, dicta eius reiciendis?</p>
          <div class="flex justify-center">
            <a href="#" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md my- text-white font-semibold mx-auto">Baca Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%] lg:w-[90%] lg:h-[195px] lg:flex" data-aos="flip-right">
        <img src="assets/img/example1.jpg" alt="image" class="object-cover object-center lg:h-full lg:sw-1/4" />
        <div class="my-3 ml-4 px-3">
          <h2 class="text-2xl font-bold">Judul Berita</h2>
          <p class="text-[0.9em]"><i class="fa-solid fa-calendar pr-3"></i>12 Desember 1973</p>
          <p class="text-[0.9em]"><i class="fa-solid fa-user pr-3 mb-3"></i>Ferdi Idref</p>
          <p class="text-justify mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in quae voluptatem obcaecati alias sapiente nihil modi, dicta eius reiciendis?</p>
          <div class="flex justify-center">
            <a href="#" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md my- text-white font-semibold mx-auto">Baca Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="mx-auto w-[90%] rounded-lg shadow-md border-1 overflow-hidden my-6 bg-white md:w-[30%] lg:w-[90%] lg:h-[195px] lg:flex" data-aos="flip-right">
        <img src="assets/img/example1.jpg" alt="image" class="object-cover object-center lg:h-full lg:sw-1/4" />
        <div class="my-3 ml-4 px-3">
          <h2 class="text-2xl font-bold">Judul Berita</h2>
          <p class="text-[0.9em]"><i class="fa-solid fa-calendar pr-3"></i>12 Desember 1973</p>
          <p class="text-[0.9em]"><i class="fa-solid fa-user pr-3 mb-3"></i>Ferdi Idref</p>
          <p class="text-justify mt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in quae voluptatem obcaecati alias sapiente nihil modi, dicta eius reiciendis?</p>
          <div class="flex justify-center">
            <a href="#" class="inline-block px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded-md my- text-white font-semibold mx-auto">Baca Selengkapnya</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-7 container mx-auto bg-gradient-ygb">
    <h1 class="text-3xl text-center font-bold lg:text-4xl" data-aos="fade-right">Berita Lainnya</h1>
    <hr class="w-1/4 mb-5 mx-auto border-t-[3px] border-t-slate-700" />
    <div class="flex justify-evenly flex-wrap">
      <div class="border bg-white rounded-lg mt-5 mx-1 shadow-lg w-[30%] overflow-hidden lg:w-[20%]" data-aos="zoom-in-down">
        <img src="assets/img/example2.jpg" alt="image" />
        <a href="#" class="inline-block font-bold text-md mt-3 mx-2 hover:text-blue-500 hove:underline md:text-lg">Judul Berita</a>
      </div>
      <div class="border bg-white rounded-lg mt-5 mx-1 shadow-lg w-[30%] overflow-hidden lg:w-[20%]" data-aos="zoom-in-down">
        <img src="assets/img/example2.jpg" alt="image" />
        <a href="#" class="inline-block font-bold text-md mt-3 mx-2 hover:text-blue-500 hove:underline md:text-lg">Judul Berita</a>
      </div>
      <div class="border bg-white rounded-lg mt-5 mx-1 shadow-lg w-[30%] overflow-hidden lg:w-[20%]" data-aos="zoom-in-down">
        <img src="assets/img/example2.jpg" alt="image" />
        <a href="#" class="inline-block font-bold text-md mt-3 mx-2 hover:text-blue-500 hove:underline md:text-lg">Judul Berita</a>
      </div>
      <div class="border bg-white rounded-lg mt-5 mx-1 shadow-lg w-[30%] overflow-hidden lg:w-[20%]" data-aos="zoom-in-down">
        <img src="assets/img/example2.jpg" alt="image" />
        <a href="#" class="inline-block font-bold text-md mt-3 mx-2 hover:text-blue-500 hove:underline md:text-lg">Judul Berita</a>
      </div>
      <div class="border bg-white rounded-lg mt-5 mx-1 shadow-lg w-[30%] overflow-hidden lg:w-[20%]" data-aos="zoom-in-down">
        <img src="assets/img/example2.jpg" alt="image" />
        <a href="#" class="inline-block font-bold text-md mt-3 mx-2 hover:text-blue-500 hove:underline md:text-lg">Judul Berita</a>
      </div>
      <div class="border bg-white rounded-lg mt-5 mx-1 shadow-lg w-[30%] overflow-hidden lg:w-[20%]" data-aos="zoom-in-down">
        <img src="assets/img/example2.jpg" alt="image" />
        <a href="#" class="inline-block font-bold text-md mt-3 mx-2 hover:text-blue-500 hove:underline md:text-lg">Judul Berita</a>
      </div>
    </div>
  </section>
</main>
