

    <div class="mt-16">
        <% for( let i = 0; i < data.length; i++ ) { %>
                        <%  if(data[i].verifiedEmail === 0) { %>
                            <div class="bg-red-600 px-6 py-3 mt-3 text-white">
                                <strong>ATTENTION !</strong> Please verify your account to continue using our services don't forget to check the spam if there isn't any email in your inbox.
                                    <a href="/dashboard/verify-email" class="underline hover:text-slate-600 transition duration-200">Re-send Verification Email</a>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        <%} }%>
        <% if (msg.length>0) { %>
            <div class="bg-emerald-500 px-6 py-3 mt-3 text-white">
                <%= msg %>
            </div>
        <% }%>
        
    </div>

  <main class="container mx-auto bg-white mb-0">
    <section class=" mx-auto my-3 w-full bg-gradient-to-b from-sky-200 to-white">
      <h1 class="text-3xl p-2 font-bold lg:text-4xl pt-10" data-aos="fade-left">Dashboard</h1>
      <hr class="w-full mb-2 mx-auto border-t-[3px] border-t-slate-700" />
      <div >
        <marquee direction="right" class="bg-sky-100 font-semibold text-2xl text-blue-500 shadow-sm">Selamat Datang <%= username %></marquee>
      </div>
      <div class=" container mt-10 w-full mx-auto md:flex md:justify-evenly md:flex-wrap float-right">
          <div class="group mx-auto mb-7 w-[90%] rounded-lg shadow-md border-1 overflow-hidden my- transition ease-in-out duration-300 bg-white hover:bg-emerald-50 md:w-[30%] md:hover:shadow-under md:hover:translate-y-2" data-aos="flip-right">
            <div class="overflow-hidden bg-green-300">
              <i class="fa-solid fa-user text-5xl p-5"></i>
              <p class="pl-5 px-5 text-xl font-semibold  float-right">2</p>
              <h2 class=" pl-8 py-10 text-xl font-semibold  float-right">Pegawai</h2>
            </div>
            <div>
              <hr class="w-full mb-4 mx-auto border-t-[2px] border-t-gray-400" />
            </div>
            <div class="my-1 px-5">
              <div class="flex">
                <p>View Details</p>
                <a href="/dashboard/dataUser" class="inline-block mr-2 mx-auto"> <i class="fa-solid fa-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>

          <div class="  container mt-7 w-full mx-auto md:flex md:justify-evenly md:flex-wrap">
            <div class="group mx-auto mb-7 w-[90%] rounded-lg shadow-md border-1 overflow-hidden my- transition ease-in-out duration-300 bg-white hover:bg-emerald-50 md:w-[30%] md:hover:shadow-under md:hover:translate-y-2" data-aos="flip-right">
              <div class="overflow-hidden bg-red-300">
                <i class="fa fa-group text-5xl p-5"></i>
                <p class="pl-5 px-5 text-xl font-semibold  float-right">20</p>
                <h2 class=" pl-8 py-10 text-xl font-semibold  float-right">Penduduk</h2>
              </div>
              <div>
                <hr class="w-full mb-4 mx-auto border-t-[2px] border-t-gray-400" />
              </div>
              <div class="my-1 px-5">
                <div class="flex">
                  <p>View Details</p>
                  <a href="/dashboard/dataProfile" class="inline-block mr-2 mx-auto"> <i class="fa-solid fa-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>

            <div class=" container mt-7 w-full mx-auto md:flex md:justify-evenly md:flex-wrap">
              <div class="group mx-auto mb-7 w-[90%] rounded-lg shadow-md border-1 overflow-hidden my- transition ease-in-out duration-300 bg-white hover:bg-emerald-50 md:w-[30%] md:hover:shadow-under md:hover:translate-y-2" data-aos="flip-right">
                <div class="overflow-hidden bg-blue-400">
                  <i class="fa-solid fa-circle-info text-5xl p-5"></i>
                  <p class="pl-5 px-5 text-xl font-semibold  float-right">1</p>
                  <h2 class=" pl-8 py-10 text-xl font-semibold  float-right">Informasi</h2>
                </div>
                <div>
                  <hr class="w-full mb-4 mx-auto border-t-[2px] border-t-gray-400" />
                </div>
                <div class="my-1 px-5">
                  <div class="flex">
                    <p>View Details</p>
                    <a href="/dashboard/informasi" class="inline-block mr-2 mx-auto"> <i class="fa-solid fa-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div> 
    </section>
    
</main>
