<div class="mt-16">
    <% for( let i = 0; i < data.length; i++ ) { %>
            <% if (data[i].verifiedAdmin === 0 ) { %>
                    <p class="text-red-500 mt-1 mb-2">Access Denied</p>
                    <% } if(data[i].verifiedEmail === 0) { %>
                    <p class="text-red-500 mt-1 mb-2">Verified Your Email</p>
                    <%}%>
    <% } %>
</div>
