<!-- table  data pegawai-->
<main class="max-w-screen-2xl mx-auto">

    <section class=" mx-auto my-3 w-full bg-gradient-to-b from-sky-200 to-white py-9">
        <div>
            <h1 class="text-2xl mb-3 font-bold">Data Penduduk</h1>
        </div>
        <table class="table-auto border border-black border-collapse w-full ">
            <thead >
                <tr>
                    <th class="border border-black py-4 bg-sky-500">Laki-Laki</th>
                    <th class="border border-black py-4 bg-sky-500">Perempuan</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i < data.length; i++ ) { %>
                    <tr>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].laki-laki %></td>
                        <td class="border border-black p-3 bg-slate-200"><%= data[i].perempuan %></td>
                        <td class="border border-black p-3 bg-slate-200">
                            <a href='update-penduduk.ejs' class="bg-emerald-400 px-2 py-1 rounded-lg hover:bg-emerald-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan mengupdate data ini ?')"><i class="fa-solid fa-pencil "></i></a> |
                            <a href='delete-penduduk.ejs' class="bg-red-400 px-2 py-1 rounded-lg hover:bg-red-500 cursor-pointer hover:text-gray-300" onclick="return confirm('anda yakin akan menghapus data ini ?')"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
  </section>
</main>