<section class="mt-12">
        <h1 class="text-xl"><%=data[0].judul%></h1>
        <img src="/<%=data[0].gambar%>" alt="<%=data[0].judul%>" class="w-full">
        <p><%- data[0].isi %></p>
</section>