<div class="h-screen w-full bg-cover bg-gradient-to-b from-cyan-500 to-white flex">
  <div class="m-auto lg:w-1/2 lg:flex-1 lg:flex-col lg:p-8">
    <h1 class="text-4xl font-bold lg:text-6xl">Kelurahan Abeli</h1>
    <h2 class="text-md mt-2">Abeli, Kec. Abeli, Kendari, Sulawesi Tenggara</h2>
    <h2>Kode Pos 93234</h2>
    <a href="#" class="inline-block my-4 py-2 px-5 bg-yellow-500 rounded-md shadow-md hover:bg-yellow-600">Kontak Kami</a>
  </div>

  <div class="w-1/2 hidden lg:flex">
    <div class="w-40 h-40 bg-yellow-500 m-auto rotate-45"></div>
  </div>
</div>

<main class="container max-w-full">
  <section class="swiper w-full h-[75vh]">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="object-cover object-center w-full h-full" src="assets/img/example1.jpg" alt="example" /></div>
      <div class="swiper-slide"><img class="object-cover object-center w-full h-full" src="assets/img/example2.jpg" alt="example" /></div>
      <div class="swiper-slide"><img class="object-cover object-center w-full h-full" src="assets/img/example3.jpg" alt="example" /></div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </section>

  <section class="mt-10 container mx-auto">
    <h1 class="text-3xl text-center font-bold lg:text-4xl">Visi</h1>
    <p class="mt-3 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit cupiditate nostrum enim aliquid. Minus deserunt magni veniam consequuntur ratione vitae?</p>
    <h1 class="text-3xl text-center font-bold mt-7 lg:text-4xl">Misi</h1>
    <p class="mt-3 text-justify px-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto debitis inventore doloribus amet ab expedita ad quis, optio numquam! Nisi corrupti quasi ea quaerat, incidunt optio dolorum debitis, blanditiis voluptatibus repudiandae commodi esse cum! Magni tempora assumenda accusantium nam beatae?</p>
  </section>

  <section class=" mt-10 mx-auto bg-gradient-to-b from-white to-sky-200">
    <h1 class="text-3xl text-center font-bold lg:text-4xl">Struktur Organisasi</h1>
    <div class="w-full h-72"></div>
  </section>

  <section class=" mt-10 mx-auto" ></section>
</main>
