<main class="container mx-auto bg-white mb-0 pt-3">
  <section class="mt-10 pb-10 container mx-auto px-4">
    <h2 class="text-2xl mb-6 font-bold">Sebelum ke kantor, pastikan berkas Anda telah lengkap.</h2>
    <div class="border-2 border-sky-800 bg-sky-800 rounded-lg max-w-[800px] mx-auto overflow-hidden" data-aos="zoom-in">
      
      <div class="list-layanan">
        <div class="flex justify-between border-b-2 border-sky-800 bg-sky-900">
          <h3 class="py-2 pl-2 text-white text-lg">Persyaratan</h3>
          <button class="bg-sky-600 hover:bg-sky-500 active:bg-sky-700 text-white px-3 text-xl flex items-center mr-2 my-1 rounded-md"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="p-5 bg-white hidden origin-top scale-y-0 transition duration-300">
          <p>KK ( Kartu Keluarga )</p>
          <p>KTP ( Kartu Tanda Pengenal )</p>
        </div>
      </div>
   
      <div class="list-layanan">
        <div class="flex justify-between border-b-2 border-sky-800 bg-sky-900">
          <h3 class="py-2 pl-2 text-white text-lg">Jenis Pelayanan</h3>
          <button class="bg-sky-600 hover:bg-sky-500 active:bg-sky-700 text-white px-3 text-xl flex items-center mr-2 my-1 rounded-md"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="p-5 bg-white hidden origin-top scale-y-0 transition duration-300">
          <p> Surat Keterangan Tidak Mampu </p>
          <p>Syarat : </p>
            <ol class="list-decimal ml-5">
              <li>Kartu Keluarga ( KK )</li>
              <li>Kartu Tanda Penduduk ( KTP )</li>
          </ol>
          <p> <br>Surat Usaha <br> </p>
          <p>Syarat : </p>
            <ol class="list-decimal ml-5">
              <li>Kartu Keluarga ( KK )</li>
              <li>Kartu Tanda Penduduk ( KTP )</li>
          </ol>
          <p><br> Surat Nikah </br> </p>
          <p>Syarat : </p>
            <ol class="list-decimal ml-5">
              <li>Kartu Keluarga ( KK )</li>
              <li>Kartu Tanda Penduduk ( KTP )</li>
          </ol>
          <p><br>Surat PKH</br> </p>
          <p>Syarat : </p>
            <ol class="list-decimal ml-5">
              <li>Kartu Keluarga ( KK )</li>
              <li>Kartu Tanda Penduduk ( KTP )</li>
          </ol>
          <p><br> Surat BPMT </br></p>
          <p>Syarat : </p>
            <ol class="list-decimal ml-5">
              <li>Kartu Keluarga ( KK )</li>
              <li>Kartu Tanda Penduduk ( KTP )</li>
          </ol>
          <p><br>Kelengkapan Berkas BPHTB PTSL / PRONA</br> </p>
          <p>Syarat : </p>
            <ol class="list-decimal ml-5">
              <li>Kartu Tanda Penduduk ( KTP ) </li>
              <li>Fotocopy Penguasaan Fisik Awal</li>
              <li>Salinan Sertifikat/SKBPN</li>
              <li>PBB terbaru </li>
              <li>Foto Lokasi</li>
          </ol>
          
        </div>
      </div>
      <div class="list-layanan">
        <div class="flex justify-between border-b-2 border-sky-800 bg-sky-900">
          <h3 class="py-2 pl-2 text-white text-lg">Prosedur Pelayanan</h3>
          <button class="bg-sky-600 hover:bg-sky-500 active:bg-sky-700 text-white px-3 text-xl flex items-center mr-2 my-1 rounded-md"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="p-5 bg-white hidden origin-top scale-y-0 transition duration-300">
          <p>Untuk mendapatkan Pelayanan yang optimal, setiap individu atau warga masyarakat harus memahami dan menaati prosedur tersebut</p>
          <ol class="list-decimal ml-5"> 
            <li>Datang sendiri ke balai desa ( tidak boleh diwakili )</li>
            <li>Membawa FC KK dan KTP yang bersangkutan</li>
            <li>Membawa kelengkapan berkas sesuai dengan permohonan pelayanan yang dibutuhkan</li>
          </ol>
        </div>
      </div>
     
      <div class="list-layanan">
        <div class="flex justify-between border-b-2 border-sky-800 bg-sky-900">
          <h3 class="py-2 pl-2 text-white text-lg">Biaya/Tarif</h3>
          <button class="bg-sky-600 hover:bg-sky-500 active:bg-sky-700 text-white px-3 text-xl flex items-center mr-2 my-1 rounded-md"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="p-5 bg-white hidden origin-top scale-y-0 transition duration-300">
          <p> Tidak dipungut biaya</p>
        
        </div>
      </div>
     
    </div>
    <h2 class="text-xl mt-6" data-aos="fade-right">Cek infomasi lainnya <a href="/informasi" class="text-sky-600 hover:text-sky-700">di sini</a>.</h2>
  </section>
</main>
