<main class="container flex items-center h-auto md:h-screen mx-auto">
  <div class="h-full w-3/4 bg-sky-200/30 hidden bg-cover bg-center lg:flex">
    <div class="m-auto">
      
      <img src="/assets/img/logo.png" alt="logo" width="100" class="mx-20"/>

      <!-- ? masukkan text shadow -->
      <h1 class="text-4xl text-white font-bold font-sansita tracking-widest bayangan">Kelurahan Abeli</h1>
    </div>
  </div>

  <div class="shadow-lg p-4 bg-slate-100/30 backdrop-blur-md max-w-sm my-2 mx-auto rounded-md md:my-auto lg:m-0 lg:rounded-none lg:w-full lg:h-full lg:flex lg:items-center">
    <div class="w-full">
      <h3 class="text-center font-semibold text-slate-600 mb-3"><i class="bx bxs-user text-lg"></i> Masuk</h3>
      <hr class="mb-3 mx-16 lg:mb-11" />

      <form action="#">
        <label for="username" class="sm:mb-8">
          <div class="text-slate-800 mb-2 text-sm">Email</div>
          <input
            type="email"
            class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full placeholder:text-sm invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Email"
            id="username"
          />
          <p class="text-sm text-red-500 invisible peer-invalid:visible mt-1 mb-2">Email tidak valid</p>
        </label>
        <label for="password" class="sm:mb-8">
          <div class="text-slate-800 mb-2 text-sm">Password</div>
          <input type="password" class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full placeholder:text-sm" placeholder="Password" id="password" />
        </label>
        <div class="text-right">
          <a href="#" class="inline-block text-sm mt-5 text-blue-700 hover:text-blue-900 hover:underline">Lupa Password?</a>
        </div>
        <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700 sm:mt-10">Masuk</button>
        <p class="mt-5 text-sm text-center">Belum punya akun? <a href="/signup" class="text-blue-700 hover:text-blue-900 hover:underline">Daftar Sekarang</a></p>
      </form>
    </div>
  </div>
</main>
