<main class="container mx-auto mb-0 pt-5 bg-white">
  <section class="mt-10 container mx-auto">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Sejarah</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div>
      <p class="text-justify indent-8 px-5 mt-3">
        Pada masa penjajahan di Indonesia, Bangsa Belanda dan Portugis masuk di Kendari 
        pada tahun 1826 pada tahun tersebut daerah Abeli sudah ada. kota Kendari memiliki 
        hanya dua tempat pemukiman penduduk, dua daerah tersebut yaitu Abeli dan Kandai. 
        Pada tahun tersebut di daerah Abeli sudah banyak rumah rumah yang ditempati oleh 
        para penduduk sedangkan di Kandai hanya memiliki sekitar 10 rumah yang di tempati 
        penduduk suku Bajo dan Bugis Makassar. Beberapa tahun berlalu berdirilah kerajaan 
        Konawe yang berkedudukan di Unaaha, dibentuklah satu Tobu/Putobu ( atau yang lebih 
        dikenal jaman sekarang yaitu kecamatan ) Abeli. Setelah mendekati akhir dari penjajahan
         belanda dibuatlah distrik Bernama distrik Abeli. Sampai berakhirnya distrik Setelah keluarnya
          aturan pemerintah yang menetapkan Abeli adalah daerah Swapraja. Terbentuklah Kendari dengan 3 
          kecamatan yaitu, Kecamatan Kendari, Kecamatan Mandonga dan Kecamatan Poasia. Yang mana Abeli
           berkependudukan kecamatan Poasia.
      </p>
      <p class="text-justify indent-8 px-5 mt-3">
        Setelah beberapa puluh tahun kemudian Mekarlah Kecamatan Poasia dan terbentuklah Kelurahan Abeli.
         Kemudian beberapa tahun kemudian Kelurahan Abeli terjadi pemekaran lagi yaitu kelurahan Nambo, 
         Kelurahan Bungkutoko, Kelurahan Anggalomelai, Kelurahan Benuanirae, Kelurahan Lapulu, Kelurahan Petoaha,
          Kelurahan Poasia, Kelurahan Pudai, Kelurahan Sambuli, Kelurahan, Tobimeita Dan Kelurahan Tondonggeu dengan 
          berpendudukan di Kecamatan Abeli.
      </p>
    </div>
  </section>

  <section class="mt-10 container mx-auto bg-gradient-gb py-7">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-left">Profil Kelurahan</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div>
      <p class="text-justify indent-8 px-5">
        Kelurahan Abeli merupakan salah satu Kelurahan yang ada di Kota Kendari Yang terletak di wilayah Kecamatan Abeli Yang memiliki jarak 8 km  dari ibu Kota Kendari Dan 1 km dari ibu kota Kecamatan. Secara geografis batas batas wilayah Kelurahan Abeli  adalah sebagai berikut:  1)  di sebelah utara berbatasan dengan Kelurahan Lapulu, Kecamatan Abeli; 2)  di sebelah Selatan berbatasan dengan Kelurahan Benua Nirae, Kecamatan Abeli; 3) Sebelah timur berbatasan dengan Kelurahan Anggalo Melai, Kecamatan Abeli; 4) Sebelah barat berbatasan dengan Kelurahan  Matabubu, Kecamatan Poasia. 
      </p>
      <p class="text-justify indent-8 px-5">
        Kelurahan Abeli memiliki luas tanah sebesar 212,85 ha/m2 dengan jumlah penduduk sebanyak 2.235 orang. Kelurahan Abeli terletak 3°59'28"S Lintang Utara dan 122°35'05"E Lintang Selatan. Kelurahan abeli memiliki 4 RW dan 8 RT
      </p>
    </div>
  </section>

  <section class="container mx-auto bg-gradient-gb py-7">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Visi dan Misi</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div class="lg:flex">
      <div class="w-[47%]">
        <h2 class="text-xl font-semibold text-center mb-3">Visi</h2>
        <p class="text-justify lg:text-center px-5">
          TERWUJUDNYA PENINGKATAN PELAYANAN DAN PARTISIPASI MENUJU MASYARAKAT YANG TENTRAM DAN SEJAHTERA</p>
        
      </div>
      <div class="border-r-2 border-r-black mt-10 hidden lg:block"></div>
      <div class="w-[47%]">
        <h2 class="text-xl font-semibold text-center mb-3 mt-9 lg:mt-0">Misi</h2>
        <ol class="list-decimal ml-9">
          <li class="text-justify px-5">Mewujudkan Sistem Pelayanan Rekomendasi, Fasilitas, Koordinasi, Pembinaan Dan Pelaksanaan Kegiatan
          Pembangunan Skala Dasar Yang Lebih Berkualitas. </li>
          <li class="text-justify px-5">Mewujudkan Peningkatan Partisipasi Masyarakat Dalam Pembangunan.</li>
        </ol>
        </div>
    </div>
  </section>

  <section class="mt-10 container mx-auto py-7">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-left">Struktur Organisasi</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div>
      <p class="indent-8 px-5 mb-5">Berikut adalah struktur organisasi di Kelurahan Abeli.</p>
      <img src="assets/img/struktur.png" alt="image" class="mx-auto w-[70%] mb-5" />
    </div>
  </section>
</main>
