<main class="container mx-auto bg-white mb-0 p-5">
    <section class="mt-10 container mx-auto">
        <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Sejarah</h1>
        <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
            <div>
                <p class="text-justify lg:text-center px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>  
    </section>

    <section class="mt-10 container mx-auto">
        <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Profil Kelurahan</h1>
        <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
            <div>
                <p class="text-justify lg:text-center px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>  
    </section>

    <section class="mt-10 container mx-auto">
        <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Visi dan Misi</h1>
        <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
        <div class="lg:flex ">
            <div>
                <h2 class="text-xl font-semibold text-center mb-3">Visi</h2>
                <p class="text-justify lg:text-center px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="border-r-2 border-r-black mt-10 hidden lg:block"></div>
            <div>
             <h2 class="text-xl font-semibold text-center mb-3 mt-9 lg:mt-0">Misi</h2>
            <p class="text-justify px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </section>

    <section class="mt-10 container mx-auto">
        <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Struktur Organisasi</h1>
        <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
        <div>
            <img src="assets/img/struktur.png" alt="image" class="px-5" />
        </div>
    </section>



</main>

<footer class="w-full flex justify-center items-center flex-wrap bg-slate-900 mt-0 py-4 px-8 text-white text-center shadow-lg md:justify-between">
    <div class="mt-4 order-2 text-center md:order-1 md:mt-0">
      <p class="m-auto text-[0.8em] md:font-semibold">&copy; KKN Tematik UHO 2022 | Kelurahan Abeli</p>
    </div>
    <div class="order-1 w-full md:order-2 md:w-1/4 md:flex md:justify-between">
      <a href="#" target="_blank" class="hover:text-white/50">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#" target="_blank" class="hover:text-white/50">
        <i class="bi bi-whatsapp pl-4 md:pl-0"></i>
      </a>
      <a href="#" target="_blank" class="hover:text-white/50">
        <i class="bi bi-tiktok pl-4 md:pl-0"></i>
      </a>
      <a href="#" target="_blank" class="hover:text-white/50">
        <i class="bi bi-envelope pl-4 md:pl-0"></i>
      </a>
    </div>
  </footer>