<main class="container mx-auto mb-0 pt-5 bg-white">
  <section class="mt-10 container mx-auto">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Sejarah</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div>
      <p class="text-justify indent-8 px-5 mt-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p class="text-justify indent-8 px-5 mt-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </section>

  <section class="mt-10 container mx-auto bg-gradient-gb py-7">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-left">Profil Kelurahan</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div>
      <p class="text-justify indent-8 px-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </section>

  <section class="container mx-auto bg-gradient-gb py-7">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-right">Visi dan Misi</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div class="lg:flex">
      <div>
        <h2 class="text-xl font-semibold text-center mb-3">Visi</h2>
        <p class="text-justify lg:text-center px-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="border-r-2 border-r-black mt-10 hidden lg:block"></div>
      <div>
        <h2 class="text-xl font-semibold text-center mb-3 mt-9 lg:mt-0">Misi</h2>
        <p class="text-justify px-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </section>

  <section class="mt-10 container mx-auto py-7">
    <h1 class="text-center text-3xl lg:text-4xl font-bold" data-aos="fade-left">Struktur Organisasi</h1>
    <hr class="w-1/4 mb-9 mx-auto border-t-[3px] border-t-slate-700" />
    <div>
      <p class="indent-8 px-5 mb-5">Berikut adalah struktur organisasi di Kelurahan Abeli.</p>
      <img src="assets/img/struktur.png" alt="image" class="mx-auto w-[70%] mb-5" />
    </div>
  </section>
</main>
