<main class="container flex items-center mx-auto">
  <div class="fixed top-0 bottom-0 left-0 right-0 flex">
    <img src="assets/img/logo.png" alt="logo" width="300" class="m-auto" />
  </div>
  <div class="shadow-lg p-4 bg-slate-100/30 backdrop-blur-md w-full max-w-screen-lg rounded-md mx-auto md:w-4/5 md:my-6 lg:text-lg">
    <div class="flex">
      <img src="assets/img/logo.png" alt="logo" width="30" class="" />
      <h3 class="ml-3 font-sansita">Kelurahan Abeli</h3>
    </div>
    <div class="w-full">
      <h3 class="text-center font-semibold text-slate-600 mb-3 lg:text-2xl"><i class="bx bxs-user-plus lg:text-4xl"></i> Daftar</h3>
      <hr class="mb-3 mx-16 lg:mb-11" />

      <form action="/signup" class="" method="post">
        <% if (err.length > 0) { %>
          <h1 class="text-red-500 mt-1 mb-2 text-lg font-bold"><%= err %> </h1>
        <% }%>
        <label for="fullName" class="sm:mb-8">
          <div class="text-slate-800 mb-2">Nama Lengkap</div>
          <input
            type="text"
            class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Nama Lengkap"
            id="fullName"
            name="nama"
          />
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">Nama Lengkap tidak valid</p>
        </label>

        <label for="nip" class="sm:mb-8">
          <div class="text-slate-800 mb-2">NIP</div>
          <input
            type="number"
            class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="NIP"
            id="nip"
            name="nip"
          />
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">NIP tidak valid</p>
        </label>

        <label for="position" class="sm:mb-8">
          <div class="text-slate-800 mb-2">Jabatan</div>
          <select
            name="position"
            id="position"
            class="border rounded shadow-lg py-1 px-3 w-full focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
          >
            <option value="none">-- Pilih Jabatan --</option>
            <option value="lurah">Lurah</option>
            <option value="seklur">Sekretaris Lurah</option>
            <option value="staf">Staf Kelurahan</option>
            <option value="other-users">Pengguna Lain</option>
          </select>
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">Jabatan belum diisi</p>
        </label>

        <label for="email" class="sm:mb-8">
          <div class="text-slate-800 mb-2">Email</div>
          <input
            type="email"
            class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="Email"
            id="email"
            name="email"
          />
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">Email tidak valid</p>
        </label>

        <label for="username" class="sm:mb-8">
          <div class="text-slate-800 mb-2">Username</div>
          <input
            type="text"
            minlength="6"
            class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full invalid:text-red-500 invalid:focus:border-red-500 invalid:focus:ring-red-500 peer"
            placeholder="username"
            id="username"
            name="username"
          />
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">Username setidaknya terdiri dari 6 karakter</p>
        </label>

        <label for="password" class="sm:mb-8">
          <div class="text-slate-800 mb-2">Password</div>
          <input type="password" minlength="8" class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full" 
          placeholder="Password" 
          id="password"
          name="password"
          onchange="checkPassword()"
          required
          />
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">Password tidak valid</p>
        </label>

        <label for="confirmPassword" class="sm:mb-8">
          <div class="text-slate-800 mb-2">Konfirmasi Password</div>
          <input type="password" minlength="8" class="border rounded shadow-lg py-1 px-3 focus:ring-1 focus:border-sky-600 focus:ring-sky-500 focus:outline-none w-full" 
          placeholder="Password" 
          id="confirmPassword"
          name="confirmPassword"
          onchange="checkPassword()"
          required
          />
          <p class="text-red-500 invisible peer-invalid:visible mt-1 mb-2">Password tidak valid</p>
        </label>

        <button class="mx-auto block mt-5 bg-orange-500 px-4 py-1 rounded-md text-white hover:bg-orange-600 active:bg-orange-700 sm:mt-10">Daftar</button>

        <p class="mt-5 text-center">Sudah punya akun? <a href="/login" class="text-blue-700 hover:text-blue-900 hover:underline">Masuk</a></p>
      </form>
    </div>
  </div>
</main>
