<form action="/dashboard/berita" method="post" class="my-20">
    <label for="judulBerita" class="font-bold">
        Judul Berita
    </label>
    <input type="text" id="judulBerita" placeholder="Judul Berita" class="block mb-5" name="judul">
    <input id="body" type="hidden" name="body">
    <trix-editor input="body"></trix-editor>
    <input type="file" name="" id="">
    <button type="submit" class="bg-sky-500 py-2 px-4 text-white hover:bg-sky-600">Submit</button>
</form>