@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
  @apply z-[9999] bg-white bg-opacity-50;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-slate-800;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 bg-red-500;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

button:hover span.hamburger-line {
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45 bg-red-500;
}

.nav-display {
  @apply scale-y-100 opacity-100;
}

.bayangan {
  text-shadow: 2px 2px 2px black;
}

.border-text {
  text-shadow: 0 0 5px black;
}

.show {
  @apply translate-y-[50px];
}

body {
  overflow-x: hidden;
}

.bg-gradient-blue {
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.bg-gradient-ygb {
  background: rgb(249, 255, 0);
  background: linear-gradient(0deg, rgba(0, 255, 132, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

.bg-gradient-wgb {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(28, 255, 147, 1) 33%, rgba(53, 199, 255, 1) 70%, rgba(0, 56, 255, 1) 100%);
}

.bg-gradient-gb {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}


.post ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  padding: 0;
  margin-bottom: 4em;
  font: 13px; /* font size of each element */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.post ol li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  margin: 0.5em 0 0.5em 4.5em;
  text-decoration: none;
}
.post ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -40px;
  top: 50%;
  margin-top: -1em;
  background: #00f0f8; /* background color of the numbers */
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
.post ol li:after {
  position: absolute;
  content: '';
  left: -9px;
  margin-top: -0.7em;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #00f0f8; /* background color of the right arrow*/
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CA8A04;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(220,170,8);
}
